*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

}
.container{
    width: 100%;
    height: 100%;
   
    display: flex;
}
.side_container{
    width: 18%;
    height: 100%;
    border: 2px solid;
    background-color: #040b14;
    scroll-behavior:smooth;
    overflow: scroll;
    
    }
    ::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(58, 205, 205, 0.932);
  background: rgba(31, 37, 34, 0.932);
}

::-webkit-scrollbar-thumb
{
  background: rgba(160, 160, 160, 0.5);
}

.close_logo{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close_logo img{
    height: 30px;
    width: 30px;
}

.main_container{
    width: 100%;
    height: 100%;
 background-color: black;

}
#mainHamburger_img{
    height: 30px;
    width: 30px;
    display: none;
    position: fixed;
    z-index: 5;
    margin: 5px;
}
.upper_part{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(images/web.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    
}
.main_seperator{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading_content{
   
    width: max-content;
    height: max-content;
   
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.heading_content strong{
    
    z-index: 4;
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
    
   
}

.side_logo{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
#myPhoto{
    height: 130px;
    width: 130px;
    border: 3px solid white;
    border-radius: 50%;
}
.side_content{
    width: 100%;
  
}
.side_content p{
text-align: center;
margin-top: 10px;
    font-size: x-large;
    font-weight: bolder;
    color: aliceblue;
}
.textContent{
   margin-left: 50px;
    color: aliceblue;
    font-size: small;
    text-align: center;
   
}
.txt_formatting,.txt_phrase{

width: 100%;
height: max-content;
color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

.txt_formatting nav ul a, .txt_phrase nav ul a{
    text-decoration: none;
    color: white;
   display: none;
    
}
.txt_formatting nav ul a li,.txt_phrase nav ul a li{

    display: block;
    text-align: center;
    margin: 20px 0px 20px 0px;
    list-style: none;
    padding: 10px;
   

}
.txt_formatting nav ul li:hover, .txt_phrase nav ul  li:hover{
    background-color: rgb(16, 23, 30);
}
.hwHeading{
    padding: 10px 0px 10px 0px;
    background-color: rgb(50, 50, 48);
    cursor: pointer;
}


#text_heading{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    color: aliceblue;
   
    
}
.actual_content{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.content{
 
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content p{
    color: white;
    padding: 10px 0px 10px 10px;
   
    z-index: 5;   
}
.image_section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.example_img{
    border: 2px solid white;
    width: 400px;
    height: 300px;
   
}
.example_img2{
    border: 2px solid white;
    width: 400px;
    height: 300px;
    display: none;
}
.example_img img, .example_img2 img{
    width: 100%;
    height: 100%;
    display: none;
}
#show_btn{
    width: 100px;
    height: 50px;
    background-color: #3db8b8;
    color: white;
    padding: 5px;
    border-style: none;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}
